.topic-img-bg {
  background-repeat: no-repeat;
  height: 1000px;
  position: absolute;
  top: -30px;
  z-index: -1;
  width: 99.3vw;
  max-width: none !important;
  right: 0;
  left: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  background-size: cover
  }

.topic-img-bg:before {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 0;
  background-color: rgba(0, 41, 60, 0.5);
  }

.themecentre-section {
  margin: 10em 0;
  }

.section-title {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 0.5em;
  }
.section-body {
  margin-bottom: 2em;
  }
.section-footer {
  clear: both;
  text-align: right;
  }
.template-themecentre_view .documentFirstHeading,
.template-themecentre_view .topic-intro,
.template-themecentre_view .topic-intro.moreLink:before {
  color: #FFF;
  }
#subtopics {
  margin: 2em 0 6em 0;
  }
.subtopics-list-item {
  color: #FFF;
  font-size: 24px !important;
  }
#subtopics h2, #subtopics h3 {
  background: none;
  padding: 0;
  color: #FFF;
  }
#subtopics > h2 {
  font-size: 32px;
  }
