[buildout]
extends = http://dist.plone.org/release/4.0-latest/versions.cfg

[versions]
Products.PloneHelpCenter = 4.0b2
Products.ATVocabularyManager = 1.6
Products.LinguaPlone = 4.0.2

# Do not remove zc-buildout from this file as it's used by install.sh
zc.buildout=1.5.2
