/*
  <dtml-with base_properties>
  <dtml-call "REQUEST.set('portal_url', portal_url())">
*/

/* YOUR CSS RULES START HERE */

#content .content-column-one {
    float: left;
    width: 100%;
    padding-right: 1em;
}

#themes-related dt img {
   float: left;
   margin: 0 0.5em 0.2em 0;
}

.media-nav-icon {
    float: left;
    margin-right: 5px;
}

#portlet-multimedia-tree dd ul li {
   clear: both;
   padding: 2px 0;
}

body.section-themes #themes-sitemap h2 {
   clear: both;
}

.contentColumnOne {
float:left;
width:47%;
}
.column-list li {
    background: url("bullet.gif") no-repeat scroll 0 0 transparent;
    display: inline-block !important;
    padding-left: 10px;
    width: 213px;
}

.contentColumnTwo {
float:right;
width:47%;
}



/***** New design of portlets for now only under themes *****/
body.section-themes .portlet-rss .portletHeader {
   padding: 0.5em;
}

body.section-themes .portlet-rss .portletItem {
   padding-left: 0.5em;
}

body.section-themes #content dt.portletItem img {
    margin-right: 1em;
    float: left;
    margin-bottom: 1em;
}

body.section-themes #content dt.portletItem a {
}

.commonThemes {
    font-size: 65%;
    color: grey;
}

.allitems dt {
    font-weight: bold;
}

.theme-article-section {
    clear: left;
}

.theme-article-image {
    float: left;
    margin: 0.5em 1em 0.5em 0;
    border: 1px solid black;
}

.articleSection {
/*    clear: left; */
}

body.section-themes #content div.plain div,
body.section-themes #content div.plain p,
body.section-themes #content div.plain h2 {
    clear: left;
}

body.section-themes #content div.plain div div,
body.section-themes #content div.plain div p,
body.section-themes #content div.plain p div,
body.section-themes #content div.plain p p {
    clear: none;
}

body.section-themes #content .image-left {
    clear: none;
    float: left;
}

body.section-themes #content .image-left div {
/*    float: left; */
}

body.section-themes #content div.plain blockquote {
    width: 50%;
    margin: 0 0 0 10%;
}

/***** Themes view (themes_view.pt) *****/
.themes-view-image-icon ul {
    list-style-image: none !important;
    list-style-type: none !important;
    font-weight: bold;
}

.themes-view-image-icon img {
    height: 28px;
    width: 28px;
}

#themes-sitemap #all-topics-list {
    margin:4em 0 0 0;
}

#subtopics {
    margin: 0 0 2em 0;
    border-radius: 5px;
    box-shadow: 0 2px 2px #888888;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

#subtopics li {
    background: url("bullet.gif") no-repeat scroll 0 0 transparent;
    display: inline-block !important;
    padding: 0 15px;
    margin-right: 20px;
    width: 220px;
    vertical-align: top;
}

#subtopics h2, #subtopics h3 {
    background: none;
    padding: 0px;
}


/***** Theme promotions *****/
#top-news-area {
    /* background: #E5E6E8; */
    font-size: 1.2em;
    width: 998px;
}

#top-news-area .portlet-promotions .portletHeader a {
    color: &dtml-linkHeadingColor;;
    font-weight: normal;
    /* border: 0px;  */
    background: transparent;
    padding: 8px 0 0 15px;
}

#top-news-area div.portletHeader {
    background: none repeat scroll 0 0 white;
    height: 38px;
    opacity: 0.8;
    margin-top: -38px;
    text-align: left;
    padding: 0px;
}

#top-news-area .portlet-promotions {
    width: 20%;
    float: left;
/*    border: 1px solid #c6c6c7; */
}

#top-news-area .portlet,
#top-news-area dl.portlet, #top-news-area dd {
    margin: 0;
    padding: 0;
}

/*
#top-news-area dd  {
     border: 3px solid #FFF;
}
*/

#top-news-area .portlet-promotions img {
    width: 100%;
    height: 110px;
    border-bottom-left-radius: 1em 1em;
    border-bottom-right-radius: 1em 1em;
    border-top-left-radius: 1em 1em;
    border-top-right-radius: 1em 1em;
}

/* YOUR CSS RULES STOP HERE */

/* </dtml-with> */
